# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#doc
/prisma/docs

#upload
/upload

#敏感信息
#已提交的文件在此处添加了也无法被 ignore, 需要使用 git update-index --assume-unchanged [file] 
#例如运行：git update-index --assume-unchanged .env 命令忽略 .env 后续的更改
#恢复跟踪和提交则使用 `--no-assume-unchanged` 选项
.env
.env.development
.env.production
.vercel
