{
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "all",
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve"
}
